export(corNettoResults)
export(combineCorrelationNetworks)
export(combineKnowledgeNetworks)
export(correlationNetworks)
export(calculateRewiringScores)
export(createAnalysisData)
export(createCorrelationNetwork)
export(createCorrelationNetworks)
export(createDifferentialCorrelationNetwork)
export(createFocusedNetwork)
export(createIntegratedNetwork)
export(createNetworkGraph)
export(createSparseMultiOmicCorrelations)
export(differentialCorrelationResults)
export(exampleAnalysisData)
export(exampleKnowledgeNetwork)
export(exampleSeedNodes)
export(filterFeatures)
export(filterNetworkByNodes)
export(integratedNetworks)
export(knowledgeNetworks)
export(mapFeatureIdentifiers)
export(permuteDifferentialRewiring)
export(plotRewiringScores)
export(prepareCytoscapeTables)
export(readAssayData)
export(readKnowledgeNetwork)
export(rewiringResults)
export(sparseMultiOmicCorrelations)
export(testDifferentialCorrelation)
export(validateSparseCorrelationEdges)
export(validateAnalysisData)
export(validateKnowledgeNetwork)
export(validationResults)
export(writeNetworkTables)
