export(combineNetworks)
export(combineKnowledgeNetworks)
export(correlationResults)
export(calculateRewiringScores)
export(createAnalysisData)
export(createCorrelationNetwork)
export(createDifferentialCorrelationNetwork)
export(createFocusedNetwork)
export(createNetworkGraph)
export(differentialCorrelationNetworks)
export(differentialCorrelationResults)
export(exampleAnalysisData)
export(exampleKnowledgeNetwork)
export(exampleSeedNodes)
export(filterFeatures)
export(filterSamples)
export(filterNetworkByNodes)
export(getCorNettoResult)
export(integratedNetworks)
export(knowledgeNetworks)
export(permuteRewiringScores)
export(plotRewiringScores)
export(prepareCytoscapeTables)
export(readKnowledgeNetwork)
export(rewiringResults)
export(summarizeAnalysisData)
export(summarizeKnowledgeNetwork)
export(testDifferentialCorrelation)
export(validateAnalysisData)
export(validateKnowledgeNetwork)
export(validationResults)
export(writeNetworkTables)
